[submodule "src/buildtool"]
	path = src/buildtool
	url = ../buildtool
[submodule "src/acl"]
	path = src/acl
	url = ../acl
	ignore = dirty
[submodule "src/atftp"]
	path = src/atftp
	url = ../atftp
	ignore = dirty
[submodule "src/attr"]
	path = src/attr
	url = ../attr
	ignore = dirty
[submodule "src/audit"]
	path = src/audit
	url = ../audit
	ignore = dirty
[submodule "src/autoconf"]
	path = src/autoconf
	url = ../autoconf
	ignore = dirty
[submodule "src/automake"]
	path = src/automake
	url = ../automake
	ignore = dirty
[submodule "src/babeltrace"]
	path = src/babeltrace
	url = ../babeltrace
	ignore = dirty
[submodule "src/bash"]
	path = src/bash
	url = ../bash
	ignore = dirty
[submodule "src/bc"]
	path = src/bc
	url = ../bc
	ignore = dirty
[submodule "src/binutils"]
	path = src/binutils
	url = ../binutils-gdb
	ignore = dirty
[submodule "src/old_binutils"]
	path = src/old_binutils
	url = ../binutils-gdb
	ignore = dirty
[submodule "src/bison"]
	path = src/bison
	url = ../bison
	ignore = dirty
[submodule "src/blktrace"]
	path = src/blktrace
	url = ../blktrace
	ignore = dirty
[submodule "src/boost"]
	path = src/boost
	url = ../boost
	ignore = dirty
[submodule "src/boost-accumulators"]
	path = src/boost-accumulators
	url = ../boost-accumulators
	ignore = dirty
[submodule "src/boost-algorithm"]
	path = src/boost-algorithm
	url = ../boost-algorithm
	ignore = dirty
[submodule "src/boost-align"]
	path = src/boost-align
	url = ../boost-align
	ignore = dirty
[submodule "src/boost-any"]
	path = src/boost-any
	url = ../boost-any
	ignore = dirty
[submodule "src/boost-array"]
	path = src/boost-array
	url = ../boost-array
	ignore = dirty
[submodule "src/boost-asio"]
	path = src/boost-asio
	url = ../boost-asio
	ignore = dirty
[submodule "src/boost-assert"]
	path = src/boost-assert
	url = ../boost-assert
	ignore = dirty
[submodule "src/boost-assign"]
	path = src/boost-assign
	url = ../boost-assign
	ignore = dirty
[submodule "src/boost-atomic"]
	path = src/boost-atomic
	url = ../boost-atomic
	ignore = dirty
[submodule "src/boost-auto_index"]
	path = src/boost-auto_index
	url = ../boost-auto_index
	ignore = dirty
[submodule "src/boost-bcp"]
	path = src/boost-bcp
	url = ../boost-bcp
	ignore = dirty
[submodule "src/boost-bimap"]
	path = src/boost-bimap
	url = ../boost-bimap
	ignore = dirty
[submodule "src/boost-bind"]
	path = src/boost-bind
	url = ../boost-bind
	ignore = dirty
[submodule "src/boost-boostbook"]
	path = src/boost-boostbook
	url = ../boost-boostbook
	ignore = dirty
[submodule "src/boost-boostdep"]
	path = src/boost-boostdep
	url = ../boost-boostdep
	ignore = dirty
[submodule "src/boost-build"]
	path = src/boost-build
	url = ../boost-build
	ignore = dirty
[submodule "src/boost-chrono"]
	path = src/boost-chrono
	url = ../boost-chrono
	ignore = dirty
[submodule "src/boost-circular_buffer"]
	path = src/boost-circular_buffer
	url = ../boost-circular_buffer
	ignore = dirty
[submodule "src/boost-compatibility"]
	path = src/boost-compatibility
	url = ../boost-compatibility
	ignore = dirty
[submodule "src/boost-concept_check"]
	path = src/boost-concept_check
	url = ../boost-concept_check
	ignore = dirty
[submodule "src/boost-config"]
	path = src/boost-config
	url = ../boost-config
	ignore = dirty
[submodule "src/boost-container"]
	path = src/boost-container
	url = ../boost-container
	ignore = dirty
[submodule "src/boost-context"]
	path = src/boost-context
	url = ../boost-context
	ignore = dirty
[submodule "src/boost-conversion"]
	path = src/boost-conversion
	url = ../boost-conversion
	ignore = dirty
[submodule "src/boost-convert"]
	path = src/boost-convert
	url = ../boost-convert
	ignore = dirty
[submodule "src/boost-core"]
	path = src/boost-core
	url = ../boost-core
	ignore = dirty
[submodule "src/boost-coroutine"]
	path = src/boost-coroutine
	url = ../boost-coroutine
	ignore = dirty
[submodule "src/boost-coroutine2"]
	path = src/boost-coroutine2
	url = ../boost-coroutine2
	ignore = dirty
[submodule "src/boost-crc"]
	path = src/boost-crc
	url = ../boost-crc
	ignore = dirty
[submodule "src/boost-date_time"]
	path = src/boost-date_time
	url = ../boost-date_time
	ignore = dirty
[submodule "src/boost-detail"]
	path = src/boost-detail
	url = ../boost-detail
	ignore = dirty
[submodule "src/boost-disjoint_sets"]
	path = src/boost-disjoint_sets
	url = ../boost-disjoint_sets
	ignore = dirty
[submodule "src/boost-dynamic_bitset"]
	path = src/boost-dynamic_bitset
	url = ../boost-dynamic_bitset
	ignore = dirty
[submodule "src/boost-endian"]
	path = src/boost-endian
	url = ../boost-endian
	ignore = dirty
[submodule "src/boost-exception"]
	path = src/boost-exception
	url = ../boost-exception
	ignore = dirty
[submodule "src/boost-filesystem"]
	path = src/boost-filesystem
	url = ../boost-filesystem
	ignore = dirty
[submodule "src/boost-flyweight"]
	path = src/boost-flyweight
	url = ../boost-flyweight
	ignore = dirty
[submodule "src/boost-foreach"]
	path = src/boost-foreach
	url = ../boost-foreach
	ignore = dirty
[submodule "src/boost-format"]
	path = src/boost-format
	url = ../boost-format
	ignore = dirty
[submodule "src/boost-function"]
	path = src/boost-function
	url = ../boost-function
	ignore = dirty
[submodule "src/boost-functional"]
	path = src/boost-functional
	url = ../boost-functional
	ignore = dirty
[submodule "src/boost-function_types"]
	path = src/boost-function_types
	url = ../boost-function_types
	ignore = dirty
[submodule "src/boost-fusion"]
	path = src/boost-fusion
	url = ../boost-fusion
	ignore = dirty
[submodule "src/boost-geometry"]
	path = src/boost-geometry
	url = ../boost-geometry
	ignore = dirty
[submodule "src/boost-gil"]
	path = src/boost-gil
	url = ../boost-gil
	ignore = dirty
[submodule "src/boost-graph"]
	path = src/boost-graph
	url = ../boost-graph
	ignore = dirty
[submodule "src/boost-graph_parallel"]
	path = src/boost-graph_parallel
	url = ../boost-graph_parallel
	ignore = dirty
[submodule "src/boost-heap"]
	path = src/boost-heap
	url = ../boost-heap
	ignore = dirty
[submodule "src/boost-icl"]
	path = src/boost-icl
	url = ../boost-icl
	ignore = dirty
[submodule "src/boost-inspect"]
	path = src/boost-inspect
	url = ../boost-inspect
	ignore = dirty
[submodule "src/boost-integer"]
	path = src/boost-integer
	url = ../boost-integer
	ignore = dirty
[submodule "src/boost-interprocess"]
	path = src/boost-interprocess
	url = ../boost-interprocess
	ignore = dirty
[submodule "src/boost-interval"]
	path = src/boost-interval
	url = ../boost-interval
	ignore = dirty
[submodule "src/boost-intrusive"]
	path = src/boost-intrusive
	url = ../boost-intrusive
	ignore = dirty
[submodule "src/boost-io"]
	path = src/boost-io
	url = ../boost-io
	ignore = dirty
[submodule "src/boost-iostreams"]
	path = src/boost-iostreams
	url = ../boost-iostreams
	ignore = dirty
[submodule "src/boost-iterator"]
	path = src/boost-iterator
	url = ../boost-iterator
	ignore = dirty
[submodule "src/boost-lambda"]
	path = src/boost-lambda
	url = ../boost-lambda
	ignore = dirty
[submodule "src/boost-lexical_cast"]
	path = src/boost-lexical_cast
	url = ../boost-lexical_cast
	ignore = dirty
[submodule "src/boost-litre"]
	path = src/boost-litre
	url = ../boost-litre
	ignore = dirty
[submodule "src/boost-locale"]
	path = src/boost-locale
	url = ../boost-locale
	ignore = dirty
[submodule "src/boost-local_function"]
	path = src/boost-local_function
	url = ../boost-local_function
	ignore = dirty
[submodule "src/boost-lockfree"]
	path = src/boost-lockfree
	url = ../boost-lockfree
	ignore = dirty
[submodule "src/boost-log"]
	path = src/boost-log
	url = ../boost-log
	ignore = dirty
[submodule "src/boost-logic"]
	path = src/boost-logic
	url = ../boost-logic
	ignore = dirty
[submodule "src/boost-math"]
	path = src/boost-math
	url = ../boost-math
	ignore = dirty
[submodule "src/boost-move"]
	path = src/boost-move
	url = ../boost-move
	ignore = dirty
[submodule "src/boost-mpi"]
	path = src/boost-mpi
	url = ../boost-mpi
	ignore = dirty
[submodule "src/boost-mpl"]
	path = src/boost-mpl
	url = ../boost-mpl
	ignore = dirty
[submodule "src/boost-msm"]
	path = src/boost-msm
	url = ../boost-msm
	ignore = dirty
[submodule "src/boost-multi_array"]
	path = src/boost-multi_array
	url = ../boost-multi_array
	ignore = dirty
[submodule "src/boost-multi_index"]
	path = src/boost-multi_index
	url = ../boost-multi_index
	ignore = dirty
[submodule "src/boost-multiprecision"]
	path = src/boost-multiprecision
	url = ../boost-multiprecision
	ignore = dirty
[submodule "src/boost-numeric_conversion"]
	path = src/boost-numeric_conversion
	url = ../boost-numeric_conversion
	ignore = dirty
[submodule "src/boost-odeint"]
	path = src/boost-odeint
	url = ../boost-odeint
	ignore = dirty
[submodule "src/boost-optional"]
	path = src/boost-optional
	url = ../boost-optional
	ignore = dirty
[submodule "src/boost-parameter"]
	path = src/boost-parameter
	url = ../boost-parameter
	ignore = dirty
[submodule "src/boost-phoenix"]
	path = src/boost-phoenix
	url = ../boost-phoenix
	ignore = dirty
[submodule "src/boost-polygon"]
	path = src/boost-polygon
	url = ../boost-polygon
	ignore = dirty
[submodule "src/boost-pool"]
	path = src/boost-pool
	url = ../boost-pool
	ignore = dirty
[submodule "src/boost-predef"]
	path = src/boost-predef
	url = ../boost-predef
	ignore = dirty
[submodule "src/boost-preprocessor"]
	path = src/boost-preprocessor
	url = ../boost-preprocessor
	ignore = dirty
[submodule "src/boost-program_options"]
	path = src/boost-program_options
	url = ../boost-program_options
	ignore = dirty
[submodule "src/boost-property_map"]
	path = src/boost-property_map
	url = ../boost-property_map
	ignore = dirty
[submodule "src/boost-property_tree"]
	path = src/boost-property_tree
	url = ../boost-property_tree
	ignore = dirty
[submodule "src/boost-proto"]
	path = src/boost-proto
	url = ../boost-proto
	ignore = dirty
[submodule "src/boost-ptr_container"]
	path = src/boost-ptr_container
	url = ../boost-ptr_container
	ignore = dirty
[submodule "src/boost-python"]
	path = src/boost-python
	url = ../boost-python
	ignore = dirty
[submodule "src/boost-quickbook"]
	path = src/boost-quickbook
	url = ../boost-quickbook
	ignore = dirty
[submodule "src/boost-random"]
	path = src/boost-random
	url = ../boost-random
	ignore = dirty
[submodule "src/boost-range"]
	path = src/boost-range
	url = ../boost-range
	ignore = dirty
[submodule "src/boost-ratio"]
	path = src/boost-ratio
	url = ../boost-ratio
	ignore = dirty
[submodule "src/boost-rational"]
	path = src/boost-rational
	url = ../boost-rational
	ignore = dirty
[submodule "src/boost-regex"]
	path = src/boost-regex
	url = ../boost-regex
	ignore = dirty
[submodule "src/boost-scope_exit"]
	path = src/boost-scope_exit
	url = ../boost-scope_exit
	ignore = dirty
[submodule "src/boost-serialization"]
	path = src/boost-serialization
	url = ../boost-serialization
	ignore = dirty
[submodule "src/boost-signals"]
	path = src/boost-signals
	url = ../boost-signals
	ignore = dirty
[submodule "src/boost-signals2"]
	path = src/boost-signals2
	url = ../boost-signals2
	ignore = dirty
[submodule "src/boost-smart_ptr"]
	path = src/boost-smart_ptr
	url = ../boost-smart_ptr
	ignore = dirty
[submodule "src/boost-sort"]
	path = src/boost-sort
	url = ../boost-sort
	ignore = dirty
[submodule "src/boost-spirit"]
	path = src/boost-spirit
	url = ../boost-spirit
	ignore = dirty
[submodule "src/boost-statechart"]
	path = src/boost-statechart
	url = ../boost-statechart
	ignore = dirty
[submodule "src/boost-static_assert"]
	path = src/boost-static_assert
	url = ../boost-static_assert
	ignore = dirty
[submodule "src/boost-system"]
	path = src/boost-system
	url = ../boost-system
	ignore = dirty
[submodule "src/boost-test"]
	path = src/boost-test
	url = ../boost-test
	ignore = dirty
[submodule "src/boost-thread"]
	path = src/boost-thread
	url = ../boost-thread
	ignore = dirty
[submodule "src/boost-throw_exception"]
	path = src/boost-throw_exception
	url = ../boost-throw_exception
	ignore = dirty
[submodule "src/boost-timer"]
	path = src/boost-timer
	url = ../boost-timer
	ignore = dirty
[submodule "src/boost-tokenizer"]
	path = src/boost-tokenizer
	url = ../boost-tokenizer
	ignore = dirty
[submodule "src/boost-tr1"]
	path = src/boost-tr1
	url = ../boost-tr1
	ignore = dirty
[submodule "src/boost-tti"]
	path = src/boost-tti
	url = ../boost-tti
	ignore = dirty
[submodule "src/boost-tuple"]
	path = src/boost-tuple
	url = ../boost-tuple
	ignore = dirty
[submodule "src/boost-type_erasure"]
	path = src/boost-type_erasure
	url = ../boost-type_erasure
	ignore = dirty
[submodule "src/boost-type_index"]
	path = src/boost-type_index
	url = ../boost-type_index
	ignore = dirty
[submodule "src/boost-typeof"]
	path = src/boost-typeof
	url = ../boost-typeof
	ignore = dirty
[submodule "src/boost-type_traits"]
	path = src/boost-type_traits
	url = ../boost-type_traits
	ignore = dirty
[submodule "src/boost-ublas"]
	path = src/boost-ublas
	url = ../boost-ublas
	ignore = dirty
[submodule "src/boost-units"]
	path = src/boost-units
	url = ../boost-units
	ignore = dirty
[submodule "src/boost-unordered"]
	path = src/boost-unordered
	url = ../boost-unordered
	ignore = dirty
[submodule "src/boost-utility"]
	path = src/boost-utility
	url = ../boost-utility
	ignore = dirty
[submodule "src/boost-uuid"]
	path = src/boost-uuid
	url = ../boost-uuid
	ignore = dirty
[submodule "src/boost-variant"]
	path = src/boost-variant
	url = ../boost-variant
	ignore = dirty
[submodule "src/boost-wave"]
	path = src/boost-wave
	url = ../boost-wave
	ignore = dirty
[submodule "src/boost-winapi"]
	path = src/boost-winapi
	url = ../boost-winapi
	ignore = dirty
[submodule "src/boost-xpressive"]
	path = src/boost-xpressive
	url = ../boost-xpressive
	ignore = dirty
[submodule "src/bridge-utils"]
	path = src/bridge-utils
	url = ../bridge-utils
	ignore = dirty
[submodule "src/busybox"]
	path = src/busybox
	url = ../busybox
	ignore = dirty
[submodule "src/bzip2"]
	path = src/bzip2
	url = ../bzip2
	ignore = dirty
[submodule "src/cloog"]
	path = src/cloog
	url = ../cloog
	ignore = dirty
[submodule "src/collectd"]
	path = src/collectd
	url = ../collectd
	ignore = dirty
[submodule "src/config"]
	path = src/config
	url = ../config
	ignore = dirty
[submodule "src/coreutils"]
	path = src/coreutils
	url = ../coreutils
	ignore = dirty
[submodule "src/cpio"]
	path = src/cpio
	url = ../cpio
	ignore = dirty
[submodule "src/curl"]
	path = src/curl
	url = ../curl
	ignore = dirty
[submodule "src/dbus"]
	path = src/dbus
	url = ../dbus
	ignore = dirty
[submodule "src/diffutils"]
	path = src/diffutils
	url = ../diffutils
	ignore = dirty
[submodule "src/ebtables"]
	path = src/ebtables
	url = ../ebtables
	ignore = dirty
[submodule "src/elfinterface"]
	path = src/elfinterface
	url = ../elfinterface
	ignore = dirty
[submodule "src/expat"]
	path = src/expat
	url = ../expat
	ignore = dirty
[submodule "src/file"]
	path = src/file
	url = ../file
	ignore = dirty
[submodule "src/findutils"]
	path = src/findutils
	url = ../findutils
	ignore = dirty
[submodule "src/flex"]
	path = src/flex
	url = ../flex
	ignore = dirty
[submodule "src/gawk"]
	path = src/gawk
	url = ../gawk
	ignore = dirty
[submodule "src/gcc"]
	path = src/gcc
	url = ../gcc
	ignore = dirty
[submodule "src/old_gcc"]
	path = src/old_gcc
	url = ../gcc
	ignore = dirty
[submodule "src/gettext"]
	path = src/gettext
	url = ../gettext
	ignore = dirty
[submodule "src/glib"]
	path = src/glib
	url = ../glib
	ignore = dirty
[submodule "src/glibc"]
	path = src/glibc
	url = ../glibc
	ignore = dirty
[submodule "src/old_glibc"]
	path = src/old_glibc
	url = ../glibc
	ignore = dirty
[submodule "src/gmp"]
	path = src/gmp
	url = ../gmp
	ignore = dirty
[submodule "src/gperf"]
	path = src/gperf
	url = ../gperf
	ignore = dirty
[submodule "src/grep"]
	path = src/grep
	url = ../grep
	ignore = dirty
[submodule "src/groff"]
	path = src/groff
	url = ../groff
	ignore = dirty
[submodule "src/intltool"]
	path = src/intltool
	url = ../intltool
	ignore = dirty
[submodule "src/isl"]
	path = src/isl
	url = ../isl
	ignore = dirty
[submodule "src/kmod"]
	path = src/kmod
	url = ../kmod
	ignore = dirty
[submodule "src/libaio"]
	path = src/libaio
	url = ../libaio
	ignore = dirty
[submodule "src/libcap"]
	path = src/libcap
	url = ../libcap
	ignore = dirty
[submodule "src/libffi"]
	path = src/libffi
	url = ../libffi
	ignore = dirty
[submodule "src/libtool"]
	path = src/libtool
	url = ../libtool
	ignore = dirty
[submodule "src/glibc_linux"]
	path = src/glibc_linux
	url = ../linux
	ignore = dirty
[submodule "src/old_linux"]
	path = src/old_linux
	url = ../linux
	ignore = dirty
[submodule "src/linux-pam"]
	path = src/linux-pam
	url = ../linux-pam
	ignore = dirty
[submodule "src/lz4"]
	path = src/lz4
	url = ../lz4
	ignore = dirty
[submodule "src/m4"]
	path = src/m4
	url = ../m4
	ignore = dirty
[submodule "src/make"]
	path = src/make
	url = ../make
	ignore = dirty
[submodule "src/mingwrt"]
	path = src/mingwrt
	url = ../mingwrt
	ignore = dirty
[submodule "src/mpc"]
	path = src/mpc
	url = ../mpc
	ignore = dirty
[submodule "src/mpfr"]
	path = src/mpfr
	url = ../mpfr
	ignore = dirty
[submodule "src/ncurses"]
	path = src/ncurses
	url = ../ncurses
	ignore = dirty
[submodule "src/openldap"]
	path = src/openldap
	url = ../openldap
	ignore = dirty
[submodule "src/openssl"]
	path = src/openssl
	url = ../openssl
	ignore = dirty
[submodule "src/perl"]
	path = src/perl
	url = ../perl
	ignore = dirty
[submodule "src/pkg-config"]
	path = src/pkg-config
	url = ../pkg-config
	ignore = dirty
[submodule "src/popt"]
	path = src/popt
	url = ../popt
	ignore = dirty
[submodule "src/readline"]
	path = src/readline
	url = ../readline
	ignore = dirty
[submodule "src/sed"]
	path = src/sed
	url = ../sed
	ignore = dirty
[submodule "src/systemd"]
	path = src/systemd
	url = ../systemd
	ignore = dirty
[submodule "src/tcp_wrappers"]
	path = src/tcp_wrappers
	url = ../tcp_wrappers
	ignore = dirty
[submodule "src/texinfo"]
	path = src/texinfo
	url = ../texinfo
	ignore = dirty
[submodule "src/unifdef"]
	path = src/unifdef
	url = ../unifdef
	ignore = dirty
[submodule "src/util-linux"]
	path = src/util-linux
	url = ../util-linux
	ignore = dirty
[submodule "src/w32api"]
	path = src/w32api
	url = ../w32api
	ignore = dirty
[submodule "src/XML-Parser"]
	path = src/XML-Parser
	url = ../XML-Parser
	ignore = dirty
[submodule "src/xz"]
	path = src/xz
	url = ../xz
	ignore = dirty
[submodule "src/zlib"]
	path = src/zlib
	url = ../zlib
	ignore = dirty
[submodule "src/gnulib"]
	path = src/gnulib
	url = ../gnulib
	ignore = dirty
[submodule "src/paxutils"]
	path = src/paxutils
	url = ../paxutils
	ignore = dirty
[submodule "src/gzip"]
	path = src/gzip
	url = ../gzip
	ignore = dirty
[submodule "src/gpsd"]
	path = src/gpsd
	url = ../gpsd
	ignore = dirty
[submodule "src/genext2fs"]
	path = src/genext2fs
	url = ../genext2fs
	ignore = dirty
[submodule "src/gdb"]
	path = src/gdb
	url = ../binutils-gdb
	ignore = dirty
[submodule "src/fuse"]
	path = src/fuse
	url = ../fuse
	ignore = dirty
[submodule "src/fec"]
	path = src/fec
	url = ../fec
	ignore = dirty
[submodule "src/expect"]
	path = src/expect
	url = ../expect
	ignore = dirty
[submodule "src/ethtool"]
	path = src/ethtool
	url = ../ethtool
	ignore = dirty
[submodule "src/encfs"]
	path = src/encfs
	url = ../encfs
	ignore = dirty
[submodule "src/elfutils"]
	path = src/elfutils
	url = ../elfutils
	ignore = dirty
[submodule "src/e2fsprogs"]
	path = src/e2fsprogs
	url = ../e2fsprogs
	ignore = dirty
[submodule "src/dtc"]
	path = src/dtc
	url = ../dtc
	ignore = dirty
[submodule "src/dhcp"]
	path = src/dhcp
	url = ../dhcp
	ignore = dirty
[submodule "src/cryptopp"]
	path = src/cryptopp
	url = ../cryptopp
	ignore = dirty
[submodule "src/apparmor"]
	path = src/apparmor
	url = ../apparmor
	ignore = dirty
[submodule "src/tcl"]
	path = src/tcl
	url = ../tcl
	ignore = dirty
[submodule "src/bind"]
	path = src/bind
	url = ../bind
	ignore = dirty
[submodule "src/scons"]
	path = src/scons
	url = ../scons
	ignore = dirty
[submodule "src/python"]
	path = src/python
	url = ../python
	ignore = dirty
[submodule "src/libxml2"]
	path = src/libxml2
	url = ../libxml2
	ignore = dirty
[submodule "src/rlog"]
	path = src/rlog
	url = ../rlog
	ignore = dirty
[submodule "src/sqlite"]
	path = src/sqlite
	url = ../sqlite
	ignore = dirty
[submodule "src/ktap"]
	path = src/ktap
	url = ../ktap
	ignore = dirty
[submodule "src/iputils"]
	path = src/iputils
	url = ../iputils
	ignore = dirty
[submodule "src/iptables"]
	path = src/iptables
	url = ../iptables
	ignore = dirty
[submodule "src/ipsec-tools"]
	path = src/ipsec-tools
	url = ../ipsec-tools
	ignore = dirty
[submodule "src/iproute2"]
	path = src/iproute2
	url = ../iproute2
	ignore = dirty
[submodule "src/iperf"]
	path = src/iperf
	url = ../iperf
	ignore = dirty
[submodule "src/inotify-tools"]
	path = src/inotify-tools
	url = ../inotify-tools
	ignore = dirty
[submodule "src/inetutils"]
	path = src/inetutils
	url = ../inetutils
	ignore = dirty
[submodule "src/linux"]
	path = src/linux
	url = ../linux
	ignore = dirty
[submodule "src/iana-etc"]
	path = src/iana-etc
	url = ../iana-etc
	ignore = dirty
[submodule "src/lksctp"]
	path = src/lksctp
	url = ../lksctp
	ignore = dirty
[submodule "src/db"]
	path = src/db
	url = ../db
	ignore = dirty
[submodule "src/lxc"]
	path = src/lxc
	url = ../lxc
	ignore = dirty
[submodule "src/lua"]
	path = src/lua
	url = ../lua
	ignore = dirty
[submodule "src/lttng-ust"]
	path = src/lttng-ust
	url = ../lttng-ust
	ignore = dirty
[submodule "src/lttng-tools"]
	path = src/lttng-tools
	url = ../lttng-tools
	ignore = dirty
[submodule "src/lttng-modules"]
	path = src/lttng-modules
	url = ../lttng-modules
	ignore = dirty
[submodule "src/ltt-control"]
	path = src/ltt-control
	url = ../ltt-control
	ignore = dirty
[submodule "src/ltrace"]
	path = src/ltrace
	url = ../ltrace
	ignore = dirty
[submodule "src/lsof"]
	path = src/lsof
	url = ../lsof
	ignore = dirty
[submodule "src/lrzsz"]
	path = src/lrzsz
	url = ../lrzsz
	ignore = dirty
[submodule "src/logrotate"]
	path = src/logrotate
	url = ../logrotate
	ignore = dirty
[submodule "src/lmbench3"]
	path = src/lmbench3
	url = ../lmbench3
	ignore = dirty
[submodule "src/lighttpd"]
	path = src/lighttpd
	url = ../lighttpd
	ignore = dirty
[submodule "src/libusb"]
	path = src/libusb
	url = ../libusb
	ignore = dirty
[submodule "src/libunwind"]
	path = src/libunwind
	url = ../libunwind
	ignore = dirty
[submodule "src/libpcap"]
	path = src/libpcap
	url = ../libpcap
	ignore = dirty
[submodule "src/libol"]
	path = src/libol
	url = ../libol
	ignore = dirty
[submodule "src/libnl"]
	path = src/libnl
	url = ../libnl
	ignore = dirty
[submodule "src/libnfs"]
	path = src/libnfs
	url = ../libnfs
	ignore = dirty
[submodule "src/libdaemon"]
	path = src/libdaemon
	url = ../libdaemon
	ignore = dirty
[submodule "src/less"]
	path = src/less
	url = ../less
	ignore = dirty
[submodule "src/userspace-rcu"]
	path = src/userspace-rcu
	url = ../userspace-rcu
	ignore = dirty
[submodule "src/pcre"]
	path = src/pcre
	url = ../pcre
	ignore = dirty
[submodule "src/tar"]
	path = src/tar
	url = ../tar
	ignore = dirty
[submodule "src/which"]
	path = src/which
	url = ../which
	ignore = dirty
