[submodule "src/buildtool"]
	path = src/buildtool
	url = ../buildtool
[submodule "src/acl"]
	path = src/acl
	url = ../acl
	ignore = dirty
[submodule "src/atftp"]
	path = src/atftp
	url = ../atftp
	ignore = dirty
[submodule "src/attr"]
	path = src/attr
	url = ../attr
	ignore = dirty
[submodule "src/audit"]
	path = src/audit
	url = ../audit
	ignore = dirty
[submodule "src/autoconf"]
	path = src/autoconf
	url = ../autoconf
	ignore = dirty
[submodule "src/automake"]
	path = src/automake
	url = ../automake
	ignore = dirty
[submodule "src/babeltrace"]
	path = src/babeltrace
	url = ../babeltrace
	ignore = dirty
[submodule "src/bash"]
	path = src/bash
	url = ../bash
	ignore = dirty
[submodule "src/binutils"]
	path = src/binutils
	url = ../binutils-gdb
	ignore = dirty
[submodule "src/old_binutils"]
	path = src/old_binutils
	url = ../binutils-gdb
	ignore = dirty
[submodule "src/bison"]
	path = src/bison
	url = ../bison
	ignore = dirty
[submodule "src/cloog"]
	path = src/cloog
	url = ../cloog
	ignore = dirty
[submodule "src/config"]
	path = src/config
	url = ../config
	ignore = dirty
[submodule "src/coreutils"]
	path = src/coreutils
	url = ../coreutils
	ignore = dirty
[submodule "src/curl"]
	path = src/curl
	url = ../curl
	ignore = dirty
[submodule "src/dbus"]
	path = src/dbus
	url = ../dbus
	ignore = dirty
[submodule "src/diffutils"]
	path = src/diffutils
	url = ../diffutils
	ignore = dirty
[submodule "src/ebtables"]
	path = src/ebtables
	url = ../ebtables
	ignore = dirty
[submodule "src/elfinterface"]
	path = src/elfinterface
	url = ../elfinterface
	ignore = dirty
[submodule "src/expat"]
	path = src/expat
	url = ../expat
	ignore = dirty
[submodule "src/file"]
	path = src/file
	url = ../file
	ignore = dirty
[submodule "src/findutils"]
	path = src/findutils
	url = ../findutils
	ignore = dirty
[submodule "src/flex"]
	path = src/flex
	url = ../flex
	ignore = dirty
[submodule "src/gawk"]
	path = src/gawk
	url = ../gawk
	ignore = dirty
[submodule "src/gcc"]
	path = src/gcc
	url = ../gcc
	ignore = dirty
[submodule "src/old_gcc"]
	path = src/old_gcc
	url = ../gcc
	ignore = dirty
[submodule "src/gettext"]
	path = src/gettext
	url = ../gettext
	ignore = dirty
[submodule "src/glib"]
	path = src/glib
	url = ../glib
	ignore = dirty
[submodule "src/glibc"]
	path = src/glibc
	url = ../glibc
	ignore = dirty
[submodule "src/old_glibc"]
	path = src/old_glibc
	url = ../glibc
	ignore = dirty
[submodule "src/gmp"]
	path = src/gmp
	url = ../gmp
	ignore = dirty
[submodule "src/gperf"]
	path = src/gperf
	url = ../gperf
	ignore = dirty
[submodule "src/grep"]
	path = src/grep
	url = ../grep
	ignore = dirty
[submodule "src/groff"]
	path = src/groff
	url = ../groff
	ignore = dirty
[submodule "src/intltool"]
	path = src/intltool
	url = ../intltool
	ignore = dirty
[submodule "src/isl"]
	path = src/isl
	url = ../isl
	ignore = dirty
[submodule "src/kmod"]
	path = src/kmod
	url = ../kmod
	ignore = dirty
[submodule "src/libcap"]
	path = src/libcap
	url = ../libcap
	ignore = dirty
[submodule "src/libffi"]
	path = src/libffi
	url = ../libffi
	ignore = dirty
[submodule "src/libtool"]
	path = src/libtool
	url = ../libtool
	ignore = dirty
[submodule "src/glibc_linux"]
	path = src/glibc_linux
	url = ../linux
	ignore = dirty
[submodule "src/old_linux"]
	path = src/old_linux
	url = ../linux
	ignore = dirty
[submodule "src/linux-pam"]
	path = src/linux-pam
	url = ../linux-pam
	ignore = dirty
[submodule "src/lz4"]
	path = src/lz4
	url = ../lz4
	ignore = dirty
[submodule "src/m4"]
	path = src/m4
	url = ../m4
	ignore = dirty
[submodule "src/make"]
	path = src/make
	url = ../make
	ignore = dirty
[submodule "src/mingwrt"]
	path = src/mingwrt
	url = ../mingwrt
	ignore = dirty
[submodule "src/mpc"]
	path = src/mpc
	url = ../mpc
	ignore = dirty
[submodule "src/mpfr"]
	path = src/mpfr
	url = ../mpfr
	ignore = dirty
[submodule "src/ncurses"]
	path = src/ncurses
	url = ../ncurses
	ignore = dirty
[submodule "src/openldap"]
	path = src/openldap
	url = ../openldap
	ignore = dirty
[submodule "src/openssl"]
	path = src/openssl
	url = ../openssl
	ignore = dirty
[submodule "src/perl"]
	path = src/perl
	url = ../perl
	ignore = dirty
[submodule "src/pkg-config"]
	path = src/pkg-config
	url = ../pkg-config
	ignore = dirty
[submodule "src/popt"]
	path = src/popt
	url = ../popt
	ignore = dirty
[submodule "src/readline"]
	path = src/readline
	url = ../readline
	ignore = dirty
[submodule "src/sed"]
	path = src/sed
	url = ../sed
	ignore = dirty
[submodule "src/systemd"]
	path = src/systemd
	url = ../systemd
	ignore = dirty
[submodule "src/tcp_wrappers"]
	path = src/tcp_wrappers
	url = ../tcp_wrappers
	ignore = dirty
[submodule "src/texinfo"]
	path = src/texinfo
	url = ../texinfo
	ignore = dirty
[submodule "src/unifdef"]
	path = src/unifdef
	url = ../unifdef
	ignore = dirty
[submodule "src/util-linux"]
	path = src/util-linux
	url = ../util-linux
	ignore = dirty
[submodule "src/w32api"]
	path = src/w32api
	url = ../w32api
	ignore = dirty
[submodule "src/XML-Parser"]
	path = src/XML-Parser
	url = ../XML-Parser
	ignore = dirty
[submodule "src/xz"]
	path = src/xz
	url = ../xz
	ignore = dirty
[submodule "src/zlib"]
	path = src/zlib
	url = ../zlib
	ignore = dirty
